@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #f4b806;
}
header .container-fluid {
  background-color: #f9c112;
  font-size: medium;
}
header nav div a div .nav-toggler {
  background-color: #f4b806;
}
header nav div a div .nav-link {
  background-color: #ffbf00;
}

footer {
  text-align: center;
  color: white;
}

@media screen and (min-width: 768px) {
  main.index {
    display: flex;
  }
  main.planes {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: auto;
  }
  .presentacion-comunidad {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 30% 15% 55%;
    margin: 10px;
    gap: 10px;
  }
  main.presentacion-comunidad img {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .intro-clases {
    grid-column: 1/3;
    grid-row: 2/3;
    object-fit: scale-down;
  }
  .explicaciÃ³n {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .lugar-entrenamiento {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .main.galeria {
    grid-template-columns: repeat(3, 20%);
    grid-template-rows: 30% 60%;
  }
  .gale-uno, .gale-dos {
    display: block;
  }
  .gale-uno {
    grid-column: 1/4;
    grid-row: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gale-dos {
    grid-column: 1/2;
    grid-row: 2/3;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .gale-tres {
    display: none;
  }
  .gale-cuatro {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .gale-cinco {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 884px) {
  .main.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .gale-uno {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .gale-dos {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 400px;
  }
  .gale-tres {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .gale-cuatro {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: 400px;
  }
  .gale-cinco {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 400px;
  }
}
body {
  background-color: black;
}

main.index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat 5, 1fr;
  margin: 5px;
}
main.index section.imagen-portada {
  grid-row: 1/3;
  object-fit: cover;
  width: 100%;
  height: 100%;
  justify-content: center;
}
main.index div.img-descripcion {
  grid-column: 1/3;
  grid-row: 3/4;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
main.index div.texto-descripcion {
  background-color: #f9c112;
  grid-column: 1/3;
  grid-row: 4/5;
}

main.presentacion-comunidad {
  display: block;
  margin: 5px;
}
main.presentacion-comunidad div {
  background-color: #f9c112;
}
main.presentacion-comunidad .lugar-entrenamiento iframe {
  margin: 20px;
}

main.planes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  margin: 10px;
  grid-gap: 10px;
}
main.planes div {
  background-color: #f9c112;
}
main.planes div h2 {
  font-size: large;
  font-weight: 500;
}
main.planes div p {
  grid-column: 2/5;
}
main.planes div button {
  background-color: #f9c112;
  display: flex;
  font-size: x-large;
  align-items: center;
  justify-content: center;
  margin-left: 33%;
}

main.galeria {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 33%);
}
main.galeria div.fotos-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main.galeria div.fotos-galeria .gale-uno, main.galeria div.fotos-galeria .gale-dos {
  display: none;
}
main.galeria div.fotos-galeria .gale-tres {
  grid-row: 1/2;
}
main.galeria div.fotos-galeria .gale-cuatro {
  grid-row: 2/3;
}
main.galeria div.fotos-galeria .gale-cinco {
  grid-row: 3/4;
}

main.formulario {
  margin: 10px;
}
main.formulario div {
  background-color: #f9c112;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
main.formulario div label {
  margin: 5px;
}
main.formulario div label input {
  margin: 10px;
}
main.formulario div button {
  display: flex;
  background-color: #f9c112;
  justify-content: center;
  width: 20%;
  margin-left: 40%;
}

/*# sourceMappingURL=style.css.map */
