* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  background-color: #f9c112;
  color: black;
}

footer {
  text-align: center;
  color: white;
}

main.index {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat 5, 20%;
  margin: 7px 0px 7px 0px;
}
main.index section img {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  --animate-duration: 2s;
}
main.index div.img-descripcion img {
  grid-row: 2/3;
  grid-column: 1/2;
  width: 100%;
  height: auto;
}
main.index div.texto-descripcion {
  background-color: #f9c112;
  object-fit: cover;
  width: 100%;
  grid-row: 4/5;
}
main.index div.texto-descripcion h1 {
  font-size: xx-large;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 5px;
  text-align: center;
}
main.index div.texto-descripcion p {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 10px;
  text-align: justify;
}

main.presentacion-comunidad {
  display: block;
  margin: 5px;
}
main.presentacion-comunidad div {
  background-color: #f9c112;
}
main.presentacion-comunidad div h1 {
  font-size: xx-large;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 5px;
  text-align: center;
}
main.presentacion-comunidad div li {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin-left: 10px;
}
main.presentacion-comunidad div p {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 10px;
  text-align: justify;
}
main.presentacion-comunidad .lugar-entrenamiento iframe {
  margin: 5px;
}

main.planes {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  margin: 10px;
  grid-gap: 10px;
}
main.planes img {
  grid-row: 1;
  grid-column: 1;
  object-fit: cover;
  width: 100%;
}

div {
  background-color: #f9c112;
}
div .plan-uno {
  grid-row: 2;
}
div .plan-dos {
  grid-row: 3;
}
div h1 {
  font-size: xx-large;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 5px;
  text-align: center;
}
div h2 {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin-left: 10px;
}
div p {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 10px;
  text-align: justify;
}
div div.boton-plan {
  display: flex;
  justify-content: center;
  align-items: center;
}
div div.boton-plan button.boton-lo-quiero {
  background-color: #f9c112;
  font-size: x-large;
  color: black;
}

main.galeria {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 33%);
}
main.galeria div.fotos-galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main.galeria div.fotos-galeria .gale-uno, main.galeria div.fotos-galeria .gale-dos {
  display: none;
}
main.galeria div.fotos-galeria .gale-tres {
  grid-row: 1/2;
}
main.galeria div.fotos-galeria .gale-cuatro {
  grid-row: 2/3;
}
main.galeria div.fotos-galeria .gale-cinco {
  grid-row: 3/4;
}

main.formulario {
  margin: 10px;
}
main.formulario div {
  background-color: #f9c112;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
}
main.formulario div h1 {
  font-size: xx-large;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  margin-left: 5px;
  text-align: center;
}
main.formulario div h2 {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  margin: 10px;
  text-align: justify;
}
main.formulario div label {
  font-size: larger;
  color: black;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  margin-left: 10px;
  margin: 5px;
}
main.formulario div label input {
  margin: 10px;
}
main.formulario div button {
  display: flex;
  background-color: #f9c112;
  justify-content: center;
  width: 20%;
  margin-left: 40%;
}

body {
  background-color: black;
}

@media screen and (min-width: 768px) {
  main.index {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: repeat 2, 1fr;
  }
  main.index section img {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 200%;
    height: 100%;
  }
  main.index div.img-descripcion {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  main.index div.texto-descripcion {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  main.presentacion-comunidad {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 15% 55%;
    margin: 10px;
    gap: 10px;
  }
  main.presentacion-comunidad img {
    grid-column: 1/3;
    width: 100%;
    height: auto;
  }
  main.presentacion-comunidad div.intro-clases {
    grid-column: 1/3;
    grid-row: 2/3;
    object-fit: scale-down;
  }
  main.presentacion-comunidad div.explicacion {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  main.presentacion-comunidad div.lugar-entrenamiento {
    grid-column: 2/3;
    grid-row: 3/4;
  }
  main.galeria {
    display: flex;
    margin: 10px;
  }
  main.galeria div.fotos-galeria {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(2, 1fr);
  }
  main.galeria div.fotos-galeria .gale-uno {
    display: block;
    grid-column: 1/4;
    grid-row: 1;
  }
  main.galeria div.fotos-galeria .gale-dos {
    display: block;
    grid-column: 1;
    grid-row: 2;
  }
  main.galeria div.fotos-galeria .gale-tres {
    display: none;
  }
  main.galeria div.fotos-galeria .gale-cuatro {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  main.galeria div.fotos-galeria .gale-cinco {
    grid-column: 3/4;
    grid-row: 2/3;
  }
}
@media screen and (min-width: 884px) {
  main.planes {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
  }
  main.planes img {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  main.planes .intro-planes {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  main.planes div.plan-uno {
    grid-column: 1;
    grid-row: 3/4;
  }
  main.planes div.plan-dos {
    grid-column: 2;
    grid-row: 3/4;
  }
  .main.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .gale-uno {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .gale-dos {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100%;
    height: 400px;
  }
  .gale-tres {
    display: grid;
    grid-column: 2/4;
    grid-row: 1/2;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  .gale-cuatro {
    grid-column: 3/4;
    grid-row: 2/3;
    width: 100%;
    height: 400px;
  }
  .gale-cinco {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
    height: 400px;
  }
}
@media screen and (min-width: 1280px) {
  main.galeria div.fotos-galeria {
    display: grid;
    grid-template-columns: 40% 30% 30%;
    grid-template-rows: repeat(2, 45%);
  }
  main.galeria div.fotos-galeria img.gale-uno {
    grid-column: 2/3;
    grid-row: 1;
    height: 100%;
    width: 100%;
  }
  main.galeria div.fotos-galeria img.gale-dos {
    height: 100%;
  }
  main.galeria div.fotos-galeria img.gale-tres {
    display: grid;
    grid-column: 1/2;
    grid-row: 1;
    height: 100%;
  }
  main.galeria div.fotos-galeria img.gale-cuatro {
    grid-column: 3;
    grid-row: 1/3;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  main.galeria div.fotos-galeria img.gale-cinco {
    height: 100%;
    grid-column: 2;
  }
  main.formulario div {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
  }
  main.formulario div h1 {
    grid-column: 1/3;
    grid-row: 1;
    justify-self: center;
  }
  main.formulario div h2 {
    grid-column: 1/3;
    grid-row: 2;
    justify-self: left;
  }
  main.formulario div label.name {
    grid-column: 1/2;
    grid-row: 3;
  }
  main.formulario div input {
    width: 70%;
  }
  main.formulario div select {
    width: 70%;
  }
  main.formulario div button {
    grid-column: 1/3;
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
