@import "../variables/mixin";
@import "../variables/colores";

main.presentacion-comunidad{
    display: block;
    margin: 5px;
    div.intro-clases, div.explicacion{
        background-color: $bg-texto;
        
        h1{
            @include headings
        }
        li{
            @include titles
        }
        p{
            @include parrafo
        }

    }
}