@import "../variables/mixin";
@import "../variables/colores";

main.formulario{
    margin: 10px;
    div.formulario{
    background-color: $bg-texto;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
        h1{
            @include headings
        }
        h2{
            @include parrafo
        }
        label{
            @include titles;
            margin: 5px;
        input{
            margin: 10px;
        }
    }}
        div.enviar{
            display: flex;
            justify-content: center;
            align-items: center;
        button{
            @include boton;
        }
        button:hover{
            background-color: $color-boton-fijo;
        }
        button:active{
            background-color: $color-boton-apretado;
        }

    }
}


