
header{
    background-color: #f4b806;
    color: black;
    margin: none;
    .container-fluid{
        background-color: #f4b806;
        font-size: medium;
        border: black;
    }
    nav{
        background-color: #f4b806;
        div{
            a{            
                div{
                    .nav-toggler{
                    background-color:#f4b806;
                    }
                .nav-link{
                    background-color: #ffbf00;
                }    
                    }
             }
            }    
    }

}


//estilos footer
footer {
    text-align: center;
    color: white;
}
