@import "../variables/mixin";
@import "../variables/colores";
body{
    header{
        background-color: $bg-texto;
        color: $link-boton;
    }
}
//estilos footer
footer {
    text-align: center;
    color: white;
}
