@import "../variables/mixin";
@import "../variables/colores";
body{
    header{
        background-color: $bg-texto;
        color: $link-boton;
        a:hover{
            background-color: $color-boton-fijo;
        }
        a:active{
            background-color: $color-boton-apretado;
        }
    }
}
//estilos footer
footer {
    text-align: center;
    color: white;
}
