@import "../variables/mixin";
@import "../variables/colores";

main.planes{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(4, auto);
    margin: 10px;
    grid-gap: 10px;
    img{
        grid-row: 1;
        grid-column: 1;
        object-fit: cover;
        width: 100%;
    }

    }
    div{
        background-color: $bg-texto;
        .plan-uno{
            grid-row: 2;
        }

        .plan-dos{
            grid-row: 3;
        }

        h1{
            @include headings;
        }
 

        h2{
            @include titles;
        }
        
        p{
            
            @include parrafo;
        }
        div.boton-plan{
            display: flex;
            justify-content: center;
            align-items: center;
            button.boton-lo-quiero{
                @include boton;
            }
            button.boton-lo-quiero:hover{
                background-color: $color-boton-fijo;
            }
            button.boton-lo-quiero:active{
                background-color: $color-boton-apretado;
            }
    }
    }
